<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>B16OOP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BankingProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Qu2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Qu3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Qu7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2138E6E1C89D2EF008587A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2138E7F1C8C73EA008587A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E299EEF11C761C3700C8A5DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E299EF051C7CF1D300C8A5DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2BAF7F21C8EEC8900896BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
